<header style="box-shadow: 0 .53333rem 4.53333rem #00000038;">
	<div class="collapse" id="navbarHeader"></div>
	<div class="navbar p-0 w-100">
		<div class="container d-flex justify-content-between m-0 w-100 cont">
			<div class="left">
				<img src="logo.png" class="logo" />
				<img data-v-c4d83b86="" class="logo2" alt="Talk to Stranger"
					 [src]="images['headerLogo']">
			</div>
			<div class="right">
				<div class="github-button">
					<a href="https://github.com/erennbas/omegle-clon" style="color: black;" target="_blank">
						<i class="bi bi-github"></i>
					</a>
				</div>
				<button class="btn btn-warning" *ngIf="!user">Log in</button>
			</div>
		</div>
	</div>
</header>
<main class="container-fluid main-content">
	<div class="row w-100">
		@if (user) {
		<div class="col-4 video-container">
			<div class="stranger-video">
				<div class="not-match">
					<img [src]="images['videoContainerOmegleLogo']" alt="">
					<div style="color: #5a9df880; font-size: 20px; font-weight: 700;">
						12 + Online
					</div>
				</div>
				<div class="match"></div>
			</div>
			<div class="my-video">
				<app-my-video></app-my-video>
			</div>
		</div>
		<div class="col-8 chat">
			<div class="messages">
				<div class="welcome">
					Ready to chat with new friends worldwide? Start matching for an enjoyable and fun communication experience! 🌍💬
				</div>
				<div id="messagesBox">
					<div class="message">
						<p class="you">You:</p>
						<p class="m">Hi!</p>
					</div>
					<div class="message">
						<p class="stranger">Stranger:</p>
						<p class="m">hi</p>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="action">
					<button class="btn btn-primary">
						<p class="action-text">Start</p>
					</button>
				</div>
				<div class="input">
					<textarea name="" id=""></textarea>
				</div>
				<div class="send">
					<button class="btn btn-light">
						<p class="action-text">Send <br /> (Enter)</p>
					</button>
				</div>
			</div>
		</div>
		}
		@else {
		<div class="login">
			<div class="desc">
				<blockquote>
					<p>
						This project is completely open-source and aims for no financial gain.
						All user data is kept private, and <strong>no messages, videos, or audio recordings</strong> are stored.
					</p>
					<p>
						The <strong>frontend</strong> is built with <em>Angular 18</em>, and the <strong>backend</strong>
						is developed using <em>NestJS</em>. For high traffic and performance needs, the project is
						<strong>containerized</strong> and optimized with a <em>load balancer</em>.
					</p>
				</blockquote>
				<div class="row d-flex justify-content-center" style="width: 50%;">
					<h4 class="text-center">Start chatting:</h4>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-primary" style="font-size: 30px;">Video</button>
				</div>
			</div>
		</div>
		}
	</div>
</main>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body d-flex justify-content-center flex-wrap p-3 m-4">
				<img src="logo.png">
				<h5 style="font-size: 17px; margin-top: 5px;">Sign in for a world of connections and new friends</h5>
				<form class="w-75" style="margin-top: 40px;">
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" aria-describedby="emailHelp">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" id="password">
					</div>
					<div class="buttons d-flex w-100 flex-column gap-3 mt-4">
						<button class="btn btn-primary btn-lg w-100" style="font-size: 20px;">
							Log In
						</button>
						<a href="http://localhost:3000/auth/google" class="btn btn-light d-flex align-items-center w-100" style="font-size: 20px;">
							<img width="40px" [src]="images['googleLogo']">
							Connect with Google
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
