<header style="box-shadow: 0 .53333rem 4.53333rem #00000038;">
	<div class="collapse" id="navbarHeader"></div>
	<div class="navbar p-0 w-100">
		<div class="container d-flex justify-content-between m-0 w-100 cont">
			<div class="left">
				<img src="logo.png" class="logo" />
				<img data-v-c4d83b86="" class="logo2" alt="Talk to Stranger"
					 [src]="images['headerLogo']">
			</div>
			<div class="right">
				<div class="github-button">
					<a href="https://github.com/erennbas/omegle-clon" style="color: black;" target="_blank">
						<i class="bi bi-github"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<main class="container-fluid main-content">
	<div class="row w-100">
		<div class="col-4 video-container">
			<div class="stranger-video">
				<div class="not-match">
					<img [src]="images['videoContainerOmegleLogo']" alt="">
					<div style="color: #5a9df880; font-size: 20px; font-weight: 700;">
						12 + Online
					</div>
				</div>
				<div class="match"></div>
			</div>
			<div class="my-video">
				<app-my-video></app-my-video>
			</div>
		</div>
		<div class="col-8 chat">
			<div class="messages">
				<div class="welcome">
					Ready to chat with new friends worldwide? Start matching for an enjoyable and fun communication experience! 🌍💬
				</div>
				<div id="messagesBox">
					<div class="message">
						<p class="you">You:</p>
						<p class="m">Hi!</p>
					</div>
					<div class="message">
						<p class="stranger">Stranger:</p>
						<p class="m">hi</p>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="action">
					<button class="btn btn-primary">
						<p class="action-text">Start</p>
					</button>
				</div>
				<div class="input">
					<textarea name="" id=""></textarea>
				</div>
				<div class="send">
					<button class="btn btn-light">
						<p class="action-text">Send <br /> (Enter)</p>
					</button>
				</div>
			</div>
		</div>
	</div>
</main>
